<!DOCTYPE html>
<html lang="en">

<% include ../header.ejs %>

<style>
    .login-container{
        background: url('/images/cooking.jpg');
        background-size: cover;
    }
    .login-form {
        background: #000000d1;
    }
    h5{
        color: white;
    }
    .footer a{
        color: white;
    }
</style>

<body class="login-container">
    <% if(msg != '') { %>
        <div class="alert alert-success msg" style="position: absolute; z-index: 9999; right: 10px; top: 10px;"><span style="font-size: 16px;"><%= msg %></span></div> <%
    } %>
    

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content">

                    <!-- Simple login form -->
                    <form  method="POST" role="form" action="/admin/reset_password">
                        <div class="panel panel-body login-form">
                            <div class="text-center">
                                <!-- <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div> -->
                                <img src="/logo.png" width="100">
                                <h5 class="content-group">Reset Password <small class="display-block">Enter your new password</small></h5>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                                <input type="password" class="form-control" placeholder="Enter new password" name="np" required>
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group has-feedback has-feedback-left">
                                <input type="password" class="form-control" placeholder="Re-enter password" name="cp" required>
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Click to reset <i class="icon-circle-right2 position-right"></i></button>
                            </div>

                        </div>
                    </form>
                    <!-- /simple login form -->


                    <!-- Footer -->
                    <div class="footer text-muted text-center">
                        &copy; 2019. <a href="#">KUKIN</a> by <a href="https://www.cqlsys.com/" target="_blank">Cqlsys Technologies</a>
                    </div>
                    <!-- /footer -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

    <script>
        $(document).ready(function(){
            setTimeout(function(){
            $("div.msg"). fadeOut();
            },3000);
        });
    </script>

</body>
</html>