<!DOCTYPE html>
<html lang="en">

<% include ../admin_header.ejs %>

<style>

.select2-selection__choice {
		color: black !important;
	}

  .s1l span.select2 {
    float: left;
    width: 102% !important;
    margin-bottom: 15px;
    margin-top: 10px;
    /* margin-left: 0px !important; */
    margin-left: -12px !important;
}

	textarea#description {
    margin-left: 20px;
}
.form-group.slet span {
    margin-left: 4px;
}
.form-group.slet2 span {
    margin-left: 4px;
}
.s2l textarea {
    margin: 0 !important;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 10px;
    box-sizing: border-box;
    width: 100%;
}
.not .form-group {
    margin: 0 0 10px -8px !important;
}
/* input#checkboxs {
    margin-left: 20px;
    
} */
input#checkboxs {
    margin-left: -9px;
    margin-top: 0px;
}
/* .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 1px;
    outline: 0;
    margin-left: -12px !important;
} */
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 1px;
    outline: 0;
    margin-left: 0px !important;
}
select#usertype {
    width: 98% !important;
}
</style>

<body>
  <% if(msg != '') { %>
    <div class="alert alert-success msg" style="position: absolute; z-index: 9999; right: 10px; top: 10px;"><span
        style="font-size: 16px;"><%= msg %></span></div> <%
          } %>


  <% include ../admin_navbar.ejs %>

  <div class="page-container">
    <div class="page-content">

      <% include ../sidebar.ejs %>

      <div class="content-wrapper">
        <div class="page-header page-header-default">
          <div class="page-header-content">
            <div class="page-title">
              <h4> <span class="text-semibold"></span>Send Notifications</h4>
            </div>

            <div class="heading-elements">
              <div class="heading-btn-group">

              </div>
            </div>
          </div>

          <div class="breadcrumb-line">
            <ul class="breadcrumb">
              <li><a href="/admin/dashboard"><i class="icon-home2 position-left"></i> Home</a></li>
              <li class="active">Notifications</li>
              <li class="active">Send</li>
            </ul>

            <ul class="breadcrumb-elements">

            </ul>
          </div>
        </div>

        <div class="content edt">
          <form action='/admin/send_notification' enctype="multipart/form-data" method="POST" id="add_user_form" role="form">
            <div class="panel panel-flat">
              <div class="panel-body">
                <div class="col-md-7 s1l">
                  <div class="row">
                <div class="form-group">
            
                    <label for="usertype">Select User Type:</label>
                    <select class="form-control userty"  id="usertype" required>
                      <option value="">Please Select</option>
                      <option value="3">All Users and subscriber</option>
                      <option value="1">Free Users</option>
                      <option value="2">Subscribed Users</option>
                     
                    </select>
              
                </div>
              </div>
              </div>
             
                <div class="col-md-7 s1l">
                    <div class="form-group slet">					
                      <input type="checkbox" id="checkboxs"> <span>Select All Users </span>
                    </div>
                        <select class="select2  form-control" id="optionid" data-show-subtext="true" data-live-search="true"
                        name="name" multiple >
                        <%for(var i in response){%>
                        <option name="illness_id" value="<%=response[i].id%>"><%=response[i].name%></option>
                        
                     <%}%>
                            </select>
                      
                        </div>
                        <div class="col-md-7 s1l">
                          <div class="row">
                        <div class="form-group">
                          <label for="message">Enter Message</label>
                          <textarea rows="4" cols="75" placeholder="Enter Message" id="notification" name="message"
                            id="message" required></textarea>
                        </div>
                      </div>
                      </div>
                    
    
  </div>
               
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Send <i
                      class="icon-arrow-right14 position-right"></i></button>
                </div>
              </div>

            </div>
          </form>

          <% include ../admin_footer.ejs %>

        </div>

      </div>
    </div>
  </div>

 

</body>

</html>


<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
   	$(function () {
			$('.select2').select2();
			$("#checkboxs").click(function () {
				if ($("#checkboxs").is(':checked')) {
					$(".select2 > option").prop("selected", "selected");
					$(".select2").trigger("change");
				} else {
					$(".select2 > option").prop("selected", false);
					$(".select2").trigger("change");
				}
			});
    });
    $('.userty').on('click', function () {
           value_id= document.getElementById("usertype").value
          //   alert(value_id,"hello")
    
            $.ajax({
                type: "POST",
                url: "/getusers_list",
                data: {
                    "id":value_id,
                },
                success: function (data) {
                  userhtml = ''
                  // console.log(data,"datata-===================")
                  if (data.length > 0) {
                    for(var i in data){
                      userhtml+=  `<option name="illness_id" value="${data[i].id}">${data[i].name}</option>`
                    }
                  }
                  $('#optionid').html(userhtml)

                }, error(error) {
                    console.error(error);
                }
            });
        });
</script>